# Dependencies
node_modules/

# Database (auto-created on first run)
data/coffee.db
data/sessions.db

# Environment variables — never commit this
.env

# Windows
Thumbs.db
Desktop.ini

.pio
.pioenvs
.piolibdeps

.vscode
